@import url("https://use.typekit.net/qej6uly.css");

h1, h2, h3, h4, h5 {
  font-family: "ITC Avant Garde Gothic Pro";
}

body {
  font-family: "Futura";
}

.bg-filament-bright {
  background-color: #f2ead5;
}

.bg-filament {
  background-color: #f2ead5;
}

.bg-filament-dark {
  background-color: #1c1c1e;
}

.bg-primary {
  background-color: #f2ead5 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #f2ead5 !important;
}

.bg-secondary {
  background-color: #1c1c1e !important;
}

.text-primary {
  color: #f2ead5 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #f2ead5 !important;
}

.text-secondary {
  color: #1c1c1e !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #1c1c1e !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f2ead5;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #f2ead5;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #f2ead5;
}
@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #f2ead5;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #f2ead5;
  }
}

#wkwsci-logo {
	margin: -6% 0% -3% -14%;
}

.video_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}